*.suo
/.vs
/packages
/publish
/Mi9Pay.Config/bin
/Mi9Pay.Config/obj
/Mi9Pay.DataModel/bin
/Mi9Pay.DataModel/obj
/Mi9Pay.Entities/bin
/Mi9Pay.Entities/obj
/Mi9Pay.PayNotifyTask/bin
/Mi9Pay.PayNotifyTask/obj
/Mi9Pay.PayProvider/bin
/Mi9Pay.PayProvider/obj
/Mi9Pay.Service/bin
/Mi9Pay.Service/obj
/Mi9Pay.ViewModel/bin
/Mi9Pay.ViewModel/obj
/Mi9Pay.Web/bin
/Mi9Pay.Web/obj
/Mi9Pay.Web/Log
/Mi9Pay.Web/Temp
/Mi9Pay.WebTest/bin
/Mi9Pay.WebTest/obj