<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
  <targets>
    <target name="weblog" xsi:type="File" fileName="${basedir}/Log/mi9pay-${date:format=yyyy-MM-dd}.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="weblog" />
  </rules>
</nlog>